# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Django specific
db.sqlite3
/media/
staticfiles/
*.pot

# Environment
.env
.venv/
env/
venv/
ENV/

# macOS
.DS_Store

*.code-workspace

# Byte-compiled / cache
*.cache
.pytest_cache/
.coverage
*.mo

# Migration backups
*/migrations/*.pyc
*/migrations/__pycache__/

# JetBrains IDE (if you ever use PyCharm)
.idea/

# uv (if using uv to manage Python)
.uv/
